@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.google.com/specimen/Sanchez?query=Sanchez');

#navbar {
  background-color: #FFC75F;
  border-bottom: 7px solid #E7B355;
}

#navbar-logo-text {
  margin-top: 1rem;
}

#navbar-nav {
  margin-top: 1rem;
}

#navbar-brand {
  display: flex;
  align-items: center;
}

#navbar-logo {
  margin-right: 1rem;
}

.header-text {
  color: white;
  font-family: 'Love Ya Like A Sister';
}

p, span, li {
  font-family: 'Sanchez', cursive;
  font-size: 14px;
}

#login-page {
  position: absolute;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#login-header {
  position: absolute;
  display: flex;
  place-items: center;
  justify-content: center;
  width: 100%; 
  height: 50%;
  background-color: #FFC75F;
  top: 0;
}

#login-header-img {
  margin-right: 1rem;
}

#login-bottom {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: white;
  bottom: 0;
}

#login-form-container {
  position: absolute;
  height: 25%;
  width: 40%;
  z-index: 1;
}

#login-form {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 8px 0px rgb(59, 59, 59);
  background-color: white;
}

#login-group {
  padding: 2rem;
}

#login-form-bottom {
  position: absolute;
  bottom: 0;
  background-color: #845EC2;
  width: 100%;
  height: 25px;
  border-radius: 0px 0px 10px 10px;
  color: white;
  display: flex;
  align-items: center;
}

#login-form-errors {
  margin-left: 2rem;
}

#login-input {
  padding: 0.8rem;
}

#login-btn {
  color: white;
  background-color: #845EC2;
  border: 2px #845EC2;
}

#translation-page {
  position: absolute;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#translation-header {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%; 
  height: 20%;
  background-color: #FFC75F;
  top: 0;
  
}

#translation-bottom {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%;
  height: 80%;
  background-color: white;
  top: 20%;
}

#translated-text-container {
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 0 8px 0px rgb(59, 59, 59);
  width: 60%;
  height: 90%;
}

#translated-signs {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.translation-sign {
  
}

#translated-text-container-bottom {
  position: absolute;
  bottom: 0;
  background-color: #845EC2;
  width: 100%;
  height: 50px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: center;
}

#translation-span {
  background-color: white;
  border-radius: 20px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
}

#translation-form-container {
  width: 500px;
}

#translation-form {
  width: 500px;
  padding: 1rem;
}

#translation-input {
  padding: 0.8rem;
}

#translation-btn {
  padding: 0.8rem;
  background-color: #845EC2;
  border: 2px #845EC2;
}

#profile-page {
  position: absolute;
  width: 100%;
  height: 80%;
  display: grid;
  align-items: center;
  justify-content: center;
}

#profile-header {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%; 
  height: 20%;
  background-color: #FFC75F;
  top: 0;
  
}

#profile-history {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%;
  height: 80%;
  background-color: white;
  top: 20%;
}

#profile-history-container {
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 0 8px 0px rgb(59, 59, 59);
  width: 60%;
  height: 90%;
}

#profile-history-list {
  overflow: auto;
  max-height: 85%;
}

.history-item {
  padding: 0.5rem
}

#profile-btn-container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 97%;
}

.profile-btn {
  padding: 0.5rem;
  margin-right: 1rem;
  color: white;
}

#profile-history-container-bottom {
  position: absolute;
  bottom: 0;
  background-color: #845EC2;
  width: 100%;
  height: 50px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: center;
}

#history-span {
  background-color: white;
  border-radius: 20px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
}

hr {
  margin: 0;
  padding: 0;
  width: 30%;
  height: 2px;
  background-color: #E7B355;
}