/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

#navbar {
  background-color: #FFC75F;
  border-bottom: 7px solid #E7B355;
}

#login-page {
  position: absolute;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#login-header {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%; 
  height: 50%;
  background-color: #FFC75F;
  top: 0;
  
}

#login-bottom {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: white;
  bottom: 0;
}

#login-form-container {
  position: absolute;
  height: 50%;
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

#login-form {
  position: relative;
  top: 40%;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 0 8px 0px rgb(59, 59, 59);
  background-color: white;
}

#login-form-bottom {
 
}

#login-input {
  padding: 0.8rem;
  color: #EFEFEF;
}

#login-btn {
  color: white;
  background-color: #845EC2;
  border: 2px #845EC2;
}

#translation-page {
  position: absolute;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


#translation-header {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%; 
  height: 20%;
  background-color: #FFC75F;
  top: 0;
  
}

#translation-bottom {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%;
  height: 60%;
  background-color: white;
  bottom: 20%;
}

#translated-text-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0 0 8px 0px rgb(59, 59, 59);
  width: 60%;
  height: 80%;
}

#translated-text-container-bottom {
  position: absolute;
  bottom: 0;
  background-color: #845EC2;
  width: 100%;
  height: 50px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: center;
}

#translation-span {
  background-color: aliceblue;
  border-radius: 20px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
}

.translation-sign {
  
}

#translation-form-container {
  width: 500px;
}

#translation-form {
  width: 500px;
  padding: 1rem;
}

#translation-input {
  padding: 0.8rem;
  color: #EFEFEF;
}

#translation-btn {
  padding: 0.8rem;
  background-color: #845EC2;
  border: 2px #845EC2;
}

#profile-page {
  position: absolute;
  width: 100%;
  height: 90%;
  display: grid;
  align-items: center;
  justify-content: center;
}

#profile-header {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%; 
  height: 20%;
  background-color: #FFC75F;
  top: 0;
  
}

#profile-history {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%;
  height: 60%;
  background-color: white;
  bottom: 20%;
}

#profile-history-container {
  position: absolute;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0 0 8px 0px rgb(59, 59, 59);
  width: 60%;
  height: 80%;
}

#profile-btn-container {
  position: absolute;
  display: flex;
  place-items: center;
  width: 100%;
  bottom: 20%;
}

.profile-btn {
  padding: 0.8rem;
  margin-right: 1rem;
  color: white;
}